<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zwz.jxone.mapper.ModelRuleMapper">
    <select id="selectById" resultType="com.zwz.jxone.po.ModelRulePo">
        select * from model_rule where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from model_rule where id = #{id}
    </delete>

    <!--修改数据-->
    <insert id="updateById" parameterType="com.zwz.jxone.po.ModelRulePo">
        update model_rule set MODEL_ID=#{modelId},strategy_id=#{strategyId},NAME=#{name},field_Name=#{fieldName},SCRIPTS=#{scripts},
        INIT_SCORE=#{initScore},BASE_NUM=#{baseNum},OPERATOR=#{operator},RATE=#{rate},STATUS=#{stayus},RULE_DEFINITION=#{ruleDefinition}
        where ID=#{id}
    </insert>
    <!--插入数据-->
    <insert id="insert" parameterType="com.zwz.jxone.po.ModelRulePo">
        insert into model_rule values(#{modelId},#{strategyId},#{name},#{fieldName},#{scripts},#{initScore},#{baseNum},#{operator}
        ,#{rate},#{stayus},#{ruleDefinition})
    </insert>

</mapper>